#cash_lead.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title Get a Cash Offer in Days
      .modal-body
        = simple_form_for(Lead.new, url: lead_submit_inquiries_path, remote: true, html: {class: 'form form-horizontal' }) do |f|
          = f.input :name, label: "Full Name"
          = f.input :email
          = f.input :phone
          = f.input :description, label: "Questions"
          = f.button :submit, "Get Offer Now", class: 'btn btn-danger lead-submit-btn'
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close