= render 'lead_realtor'
= render 'cash_offer'
= render 'sixty_days'
= render 'ninety_days'
= render 'ninety_plus'
.container
  .jumbotron.text-center.show-jumbotron
    .well.well-lg
      %h2.address-show-page
        = @address
    = render 'prices_table'
  
:javascript
  $(window).load(function(){
      $('#realtor_lead').modal('show');
  });